{% extends "layout.html" %}

{% block body %}
<br>
<div>
    {% for name in dic %}
    
    <h2><pre>{{ name }}</pre></h2>

    {%endfor %}
  
</div>
<br>

<div>
    <h2>EDUCATION</h2>
    <hr>

    {% for name in edu %}
    
    <pre><h3>{{ name }}</h3></pre>

    {%endfor %}
 
</div>
<br>
<div>
    <h2>EXPERIENCE</h2>
    <hr>
    

    {% for name in exp %}
   
    <h3><pre>{{ name }}</pre></h3>

    {%endfor %}

</div>
<br>

<h2>CONTACT</h2>
<hr>
 
<div>
    {% for name in email %}
    
    <h3><pre>gmail id: {{ name }}</pre></h3>

    {%endfor %}
</div>
<div>
    <h3>Social Links</h3>
    {% for name1 in links %}

    <h3><pre>{{ name1 }}</pre></h3>
    <a href="https://www.linkedin.com/in/shikharani2805/" target="_blank">LinkedIn Profile</a>

    {%endfor %}

</div>

{% endblock %}