
<!DOCTYPE html>
<html>
<head>
 {% block head %}

 <title>{% block title %}{% endblock %}</title>
 <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .head {
    background-color: #111;
  }
  </style>


 {% endblock %}
</head>
<body style="background-color:rgb(189, 241, 239);">
 
 <ul class="head">
  <li><a href="home">Home</a></li>
  <li><a href="about">About</a></li>
  <li><a href="contact">Contact</a></li>
</ul>
<hr>

{% block body %} {% endblock %}

</body>
</html> 